body {
    color: white;
}

#main {
    border: 3px solid red;
    height: 300px;
    display: flex;
}

#a {
    background-color: black;
    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 0;
}

#b {
    background-color: green;
    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 1;
}

#c {
    background-color: blue;
    flex-grow: 1;
    flex-basis: 300px;
    flex-shrink: 9;
}
